{
    "openapi": "3.0.0",
    "info": {
        "description": "Ce service RESTAPI permet à tout développeur d'interagir (CRUD) avec une API réelle et totalement gratuit sur une période de 3 mois.",
        "version": "1.0",
        "title": "RESTAPI",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "email": "armandmoueleprofessioninel@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "tags":[
        {
            "name": "Profile",
            "description": "Gérer votre profile sur le serveur"
        },
        {
            "name": "Collections",
            "description": "Gérer toutes vos collections sans restriction d'actions" 
        }
    ],
    "servers":[
        {
            "url":"https://api.bitech-gabon.com/"
        },
        {
            "url":"http://restapi.biz/"
        }
    ], 
    "paths":{
        "/rqXJ28773mJsau3D8EzzjCT3m4GrKi42YLD33Ab4/profile":{
            "post":{
                "tags":["Profile"],
                "description": "Crée un nouveau profil utilisateur et recevoir son access_token",
                "operationId": "createProfile",
                "parameters":[
                    {
                        "in":"body",
                        "name":"body",
                        "description":"Voici les colonnes basiques; mais vous pouvez ajouter plus.",
                        "required": true,
                        "schema":{
                            "$ref":"#/components/schemas/CreateProfile"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profile créé avec succès !",
                        "content":{
                            "application/json":{

                            }
                        },
                        "schema": {
                            "$ref": "#/components/schemas/Profile"
                        }
                    }
                }
            }
        },
        "/rqXJ28773mJsau3D8EzzjCT3m4GrKi42YLD33Ab4/login":{
            "post":{
                "tags":["Profile"],
                "description": "Se connecter à son compte utilisateur",
                "operationId": "loginProfile",
                "requestBody":{
                    "description":"Contenu complet",
                    "required": true,
                    "content":{
                        "application/json":{
                            "schema":{
                                "type":"object",
                                "properties":{ 
                                    "login":{
                                        "type":"string"
                                    },
                                    "password":{
                                        "type":"string"
                                    }
                                },
                                "required":[
                                    "login",
                                    "password"
                                ]
                            }
                        }
                    }
                }, 
                "responses": {
                    "200": {
                        "description": "Profile trouvé !",
                        "content":{
                            "application/json":{
                                "schema": {
                                    "$ref": "#/components/schemas/Profile"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{yourAccessToken}/profile":{
            "get":{
                "tags":["Profile"],
                "description": "Récupère les informations de votre profil",
                "operationId": "getProfile",
                "parameters":[
                    {
                        "name":"yourAccessToken",
                        "in":"path",
                        "description":"yourAccessToken est votre access_token",
                        "required": true,
                        "type":"string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Données de votre profile", 
                        "schema": {
                            "$ref": "#/components/schemas/ApiResponse"
                        }
                    }
                }
            }
        },
        "/{yourAccessToken}/profile/{id}":{
            "put":{
                "tags":["Profile"],
                "description": "Mettre à jour les informations de son profile",
                "operationId": "putProfile",
                "parameters":[
                    {
                        "name":"yourAccessToken",
                        "in":"path",
                        "description":"yourAccessToken est votre access_token",
                        "required": true,
                        "type":"string"
                    }, 
                    {
                        "name":"id",
                        "in":"path",
                        "description":"id est de l'item à lire",
                        "required": true,
                        "type":"integer"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref":"#/components/schemas/CreateProfile"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Données de votre profile", 
                        "schema": {
                            "$ref": "#/components/schemas/ApiResponse"
                        }
                    }
                }
            }
        },
        "/{yourAccessToken}/delProfile/{id}":{
            "delete":{
                "tags":["Profile"],
                "description": "Supprimer son propre profile",
                "operationId": "delProfile",
                "parameters":[
                    {
                        "name":"yourAccessToken",
                        "in":"path",
                        "description":"yourAccessToken est votre access_token",
                        "required": true,
                        "type":"string"
                    }, 
                    {
                        "name":"id",
                        "in":"path",
                        "description":"id est du profile à supprimer",
                        "required": true,
                        "type":"integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Données de votre profile", 
                        "schema": {
                            "$ref": "#/components/schemas/ApiResponse"
                        }
                    }
                }
            }
        },
        "/{yourAccessToken}/{getAllCollection}":{
            "get":{
                "tags":["Collections"],
                "description": "Récupère toutes les données de cette collection",
                "operationId": "getAllCollection",
                "parameters":[
                    {
                        "name":"yourAccessToken",
                        "in":"path",
                        "description":"yourAccessToken est votre access_token",
                        "required": true,
                        "type":"string"
                    },
                    {
                        "name":"getAllCollection",
                        "in":"path",
                        "description":"collection à lire",
                        "required": true,
                        "type":"string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Données de votre profile", 
                        "schema": {
                            "$ref": "#/components/schemas/ApiResponse"
                        }
                    }
                }
            }
        },
        "/{yourAccessToken}/{getCollection}/{id}":{
            "get":{
                "tags":["Collections"],
                "description": "Récupère les données d'un item",
                "operationId": "getCollection",
                "parameters":[
                    {
                        "name":"yourAccessToken",
                        "in":"path",
                        "description":"yourAccessToken est votre access_token",
                        "required": true,
                        "type":"string"
                    },
                    {
                        "name":"getCollection",
                        "in":"path",
                        "description":"collection à lire",
                        "required": true,
                        "type":"string"
                    },
                    {
                        "name":"id",
                        "in":"path",
                        "description":"id est de l'item à lire",
                        "required": true,
                        "type":"integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Données de votre profile", 
                        "schema": {
                            "$ref": "#/components/schemas/ApiResponse"
                        }
                    }
                }
            }
        },
        "/{yourAccessToken}/{postCollection}":{
            "post":{
                "tags":["Collections"],
                "description": "Récupère toutes les données de cette collection",
                "operationId": "postCollection",
                "parameters":[
                    {
                        "name":"yourAccessToken",
                        "in":"path",
                        "description":"yourAccessToken est votre access_token",
                        "required": true,
                        "type":"string"
                    },
                    {
                        "name":"postCollection",
                        "in":"path",
                        "description":"collection à utiliser",
                        "required": true,
                        "type":"string"
                    }
                ],
                "requestBody": {
                    "description":"Voici les colonnes basiques; mais vous pouvez ajouter plus.",
                    "required": true,
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref":"#/components/schemas/CreateCollection"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Données de votre profile", 
                        "schema": {
                            "$ref": "#/components/schemas/ApiResponse"
                        }
                    }
                }
            }
        },
        "/{yourAccessToken}/{putCollection}/{id}":{
            "put":{
                "tags":["Collections"],
                "description": "Mettre à jour cet item",
                "operationId": "putCollection",
                "parameters":[
                    {
                        "name":"yourAccessToken",
                        "in":"path",
                        "description":"yourAccessToken est votre access_token",
                        "required": true,
                        "type":"string"
                    },
                    {
                        "name":"putCollection",
                        "in":"path",
                        "description":"collection à modifier",
                        "required": true,
                        "type":"string"
                    },
                    {
                        "name":"id",
                        "in":"path",
                        "description":"id est de l'item à modifier",
                        "required": true,
                        "type":"integer"
                    }
                ],
                "requestBody": {
                    "description":"Voici les colonnes basiques; mais vous pouvez ajouter plus.",
                    "required": true,
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref":"#/components/schemas/CreateCollection"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Données de votre profile", 
                        "schema": {
                            "$ref": "#/components/schemas/ApiResponse"
                        }
                    }
                }
            }
        },
        "/{yourAccessToken}/{delAllCollection}":{
            "delete":{
                "tags":["Collections"],
                "description": "Supprimer toutes les données de cette collection",
                "operationId": "delAllCollection",
                "parameters":[
                    {
                        "name":"yourAccessToken",
                        "in":"path",
                        "description":"yourAccessToken est votre access_token",
                        "required": true,
                        "type":"string"
                    },
                    {
                        "name":"delAllCollection",
                        "in":"path",
                        "description":"collection à supprimer",
                        "required": true,
                        "type":"string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Données de votre profile", 
                        "schema": {
                            "$ref": "#/components/schemas/ApiResponse"
                        }
                    }
                }
            }
        },
        "/{yourAccessToken}/{delCollection}/{id}":{
            "delete":{
                "tags":["Collections"],
                "description": "Supprimer un item",
                "operationId": "delCollection",
                "parameters":[
                    {
                        "name":"yourAccessToken",
                        "in":"path",
                        "description":"yourAccessToken est votre access_token",
                        "required": true,
                        "type":"string"
                    },
                    {
                        "name":"delCollection",
                        "in":"path",
                        "description":"collection à utiliser",
                        "required": true,
                        "type":"string"
                    },
                    {
                        "name":"id",
                        "in":"path",
                        "description":"id est de l'item à supprimer",
                        "required": true,
                        "type":"integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Données de votre profile", 
                        "schema": {
                            "$ref": "#/components/schemas/ApiResponse"
                        }
                    }
                }
            }
        }
    }, 
    "components":{
        "schemas":{
            "Profile":{
                "type":"object",
                "properties":{
                    "index":{"type":"integer"},
                    "_id":{"type":"string"},
                    "login":{"type":"string"},
                    "name":{"type":"string"},
                    "telephone":{"type":"string"},
                    "access_token":{"type":"string"},
                    "isActive":{"type":"boolean"},
                    "expire_account":{"type":"string","format":"date-time"},
                    "created_at":{"type":"string","format":"date-time"}
                }
            },
            "ApiResponse":{
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "array"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "CreateProfile":{
                "type":"object",
                "required":["name","email","password"],
                "properties":{
                    "name":{
                        "type":"string"
                    },
                    "email":{
                        "type":"string"
                    }, 
                    "password":{
                        "type":"string"
                    },
                    "telephone":{
                        "type":"string"
                    }
                }
            }, 
            "CreateCollection":{
                "type":"object",
                "required":["title"],
                "properties":{
                    "title":{
                        "type":"string"
                    }
                }
            }
        }
    }
}